<a href="https://colab.research.google.com/github/koksal100/Deep-Learning/blob/main/Multiclass_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [124]:
import pandas as pd
import tensorflow as tf

In [125]:
from google.colab import drive
drive.mount('/content/drive')
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/FM 2023.csv', encoding='ISO-8859-1')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [126]:
df

,ï»¿Name,Position,Age,ca,pa,Nationality,Club,Corners,Crossing,Dribbling,...,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,Rental club,UID
0,Kevin De Bruyne,M/AM RLC,31,189,189,Belgium,Manchester City,14,19,15,...,9400,Northern_European,181,4,1991/6/28,91,24,394372.0,NaN,18004457
1,Kylian MbappÃ©,AM/S RL,23,188,197,France,Paris Saint-Germain,13,13,18,...,9248,African_Caribbean,172,13,1998/12/20,57,27,1035616.0,NaN,85139014
2,Robert Lewandowski,S,33,186,190,Poland,Barcelona,3,8,13,...,9250,Northern_European,183,3,1988/8/21,132,76,345204.0,NaN,719601
3,Erling Haaland,S,22,185,195,"Norway,England",Manchester City,7,10,14,...,8750,Northern_European,185,2,2000/7/21,21,20,394372.0,NaN,29179241
4,Mohamed Salah,AM/S RL,30,185,187,Egypt,Liverpool,12,14,17,...,8750,North_African__Middle_Eastern,181,9,1992/6/15,85,47,405971.0,NaN,98028755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,Joe Ashton,D L,16,45,135,England,Burnley,3,4,5,...,236,Northern_European,41,3,2006/6/26,0,0,203.0,NaN,2000210572
8448,River Ries,S,17,45,135,Germany,Karlsruher SC,2,2,11,...,462,Northern_European,33,255,2005/4/3,0,0,402.0,NaN,2000197059
8449,Halilcan DoÄan,D C,23,45,-75,Turkey,Osmaniyespor Futbol KulÃ¼bÃ¼,1,1,1,...,1145,Northern_European,41,3,1999/2/11,0,0,82.0,NaN,2000047739
8450,Adijat Sefer,S,17,45,135,Germany,TSG Hoffenheim,3,4,12,...,474,Northern_European,40,255,2005/1/20,0,0,646.0,NaN,2000197383
8451,Linus Urban,S,17,45,135,Germany,SV Werder Bremen,4,2,10,...,176,Northern_European,41,255,2004/11/20,0,0,646.0,NaN,2000194686

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 98 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ï»¿Name                              8452 non-null   object
 1   Position                             8452 non-null   object
 2   Age                                  8452 non-null   int64
 3   ca                                   8452 non-null   int64
 4   pa                                   8452 non-null   int64
 5   Nationality                          8452 non-null   object
 6   Club                                 8345 non-null   object
 7   Corners                              8452 non-null   int64
 8   Crossing                             8452 non-null   int64
 9   Dribbling                            8452 non-null   int64
 10  Finishing                            8452 non-null   int64
 11  First Touch                          8452 non-null   int64
 12  Free Kick Taking                     8452 non-null   int64
 13  Heading                              8452 non-null   int64
 14  Long Shots                           8452 non-null   int64
 15  Long Throws                          8452 non-null   int64
 16  Marking                              8452 non-null   int64
 17  Passing                              8452 non-null   int64
 18  Penalty Taking                       8452 non-null   int64
 19  Tackling                             8452 non-null   int64
 20  Technique                            8452 non-null   int64
 21  Aggressiion                          8452 non-null   int64
 22  Anticipation                         8452 non-null   int64
 23  Bravery                              8452 non-null   int64
 24  Composure                            8452 non-null   int64
 25  Concentration                        8452 non-null   int64
 26  Vision                               8452 non-null   int64
 27  Decision                             8452 non-null   int64
 28  Determination                        8452 non-null   int64
 29  Flair                                8452 non-null   int64
 30  Leadership                           8452 non-null   int64
 31  Off The Ball                         8452 non-null   int64
 32  Position.1                           8452 non-null   int64
 33  Teamwork                             8452 non-null   int64
 34  Work Rate                            8452 non-null   int64
 35  Acceleration                         8452 non-null   int64
 36  Agility                              8452 non-null   int64
 37  Balance                              8452 non-null   int64
 38  Jumping Reach                        8452 non-null   int64
 39  Natural Fitness                      8452 non-null   int64
 40  Pace                                 8452 non-null   int64
 41  Stamina                              8452 non-null   int64
 42  Strength                             8452 non-null   int64
 43  Stability                            8452 non-null   int64
 44  Foul                                 8452 non-null   int64
 45  Contest performance                  8452 non-null   int64
 46  Injury                               8452 non-null   int64
 47  diversity                            8452 non-null   int64
 48  Aerial Reach                         8452 non-null   int64
 49  Command Of Area                      8452 non-null   int64
 50  Communication                        8452 non-null   int64
 51  Eccentricity                         8452 non-null   int64
 52  Handling                             8452 non-null   int64
 53  Kicking                              8452 non-null   int64
 54  One On Ones                          8452 non-null   int64
 55  Reflexes                             8452 non-null   int64
 56  Rushing Out                          8452 non-null   int64
 57  Punching                             8452 non-null   int64
 58  Throwing                             8452 non-null   int64
 59  Adaptation                           8452 non-null   int64
 60  Ambition                             8452 non-null   int64
 61  Argue                                8452 non-null   int64
 62  Loyal                                8452 non-null   int64
 63  Resistant to stress                  8452 non-null   int64
 64  Professional                         8452 non-null   int64
 65  Sportsmanship                        8452 non-null   int64
 66  Emotional control                    8452 non-null   int64
 67  GK                                   8452 non-null   int64
 68  DL                                   8452 non-null   int64
 69  DC                                   8452 non-null   int64
 70  DR                                   8452 non-null   int64
 71  WBL                                  8452 non-null   int64
 72  WBR                                  8452 non-null   int64
 73  DM                                   8452 non-null   int64
 74  ML                                   8452 non-null   int64
 75  MC                                   8452 non-null   int64
 76  MR                                   8452 non-null   int64
 77  AML                                  8452 non-null   int64
 78  AMC                                  8452 non-null   int64
 79  AMR                                  8452 non-null   int64
 80  ST                                   8452 non-null   int64
 81  Height                               8452 non-null   int64
 82  Weight                               8452 non-null   int64
 83  Left Foot                            8452 non-null   int64
 84  Right Foot                           8452 non-null   int64
 85  Values                               8452 non-null   int64
 86  Current reputation                   8452 non-null   int64
 87  Domestic reputation                  8452 non-null   int64
 88  World reputation                     8452 non-null   int64
 89  Race                                 8452 non-null   object
 90  RCA                                  8452 non-null   int64
 91  Colour of skin                       8452 non-null   int64
 92  Date of birth                        8452 non-null   object
 93  Number of national team appearances  8452 non-null   int64
 94  Goals scored for the national team   8452 non-null   int64
 95  Salary                               8345 non-null   float64
 96  Rental club                          995 non-null    object
 97  UID                                  8452 non-null   int64
dtypes: float64(1), int64(90), object(7)
memory usage: 6.3+ MB

In [128]:
df.isnull().sum().sort_values(ascending=False)

Rental club      7457
Salary            107
Club              107
ï»¿Name             0
Loyal               0
                 ...
Off The Ball        0
Leadership          0
Flair               0
Determination       0
UID                 0
Length: 98, dtype: int64

In [129]:
#Rental Club and Club informations are already in the type of string, so they do no mean any numeric information.
#Let's fill the na value of salaries with the mean of it.

In [130]:
df["Salary"].fillna(df["Salary"].mean(),inplace=True)

In [131]:
df["Salary"].isnull().sum()

0

In [132]:
#Let's look at the string column names
stringColumns=df.select_dtypes(include="object").columns
stringColumns

Index(['ï»¿Name', 'Position', 'Nationality', 'Club', 'Race', 'Date of birth',
       'Rental club'],
      dtype='object')

In [133]:
#Firstly let's group positions into 4 seperate as mentioned before.
#before that detect the best position of each player

In [134]:
positions_columns=["GK","DL","DC","DR","WBL","WBR","DM","ML","MC","MR","AML","AMC","AMR","ST"]

In [135]:
df[positions_columns].transpose()

,0,1,2,3,4,5,6,7,8,9,...,8442,8443,8444,8445,8446,8447,8448,8449,8450,8451
GK,1,1,1,1,1,1,1,20,1,1,...,1,1,1,1,1,1,1,1,1,1
DL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,20,1,1,1,1
DC,1,1,1,1,1,1,1,1,20,1,...,1,1,20,1,1,1,1,20,1,1
DR,1,1,1,1,1,1,1,1,1,1,...,1,1,20,1,20,1,1,1,1,1
WBL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
WBR,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,15,1,1,1,1,1
DM,12,1,1,1,1,1,1,1,12,1,...,20,1,1,1,1,1,1,1,1,1
ML,15,10,1,1,1,1,1,1,1,8,...,1,15,1,20,1,1,1,1,1,1
MC,20,1,1,1,1,1,11,1,1,12,...,1,1,1,1,1,1,1,1,1,1
MR,15,10,1,1,1,1,1,1,1,8,...,1,14,1,1,1,1,1,1,1,1
AML,14,19,10,1,17,13,13,1,1,11,...,1,20,1,20,1,1,1,1,1,1
AMC,20,1,12,1,12,12,15,1,1,19,...,1,1,1,1,1,1,1,1,1,1
AMR,14,17,8,1,20,8,1,1,1,20,...,1,14,1,1,1,1,1,1,1,1
ST,12,20,20,20,19,20,20,1,10,19,...,1,1,1,1,1,1,20,1,20,20

In [136]:
best_positions=df[positions_columns].idxmax(axis=1)
best_positions

0        MC
1        ST
2        ST
3        ST
4       AMR
       ...
8447     DL
8448     ST
8449     DC
8450     ST
8451     ST
Length: 8452, dtype: object

In [137]:
df["position"]=best_positions

In [138]:
#Now we can convert them into for seperate groups

In [139]:
df["position"].value_counts()

DC     1438
MC     1220
ST     1201
AMC     754
GK      697
AML     686
DM      656
AMR     600
DR      487
DL      474
MR       66
ML       63
WBL      56
WBR      54
Name: position, dtype: int64

In [140]:
def converter(x):
    if x[0:2] == "DM" or x[0]=="M" or x[0]=="A":
      return "Middlefielder"
    elif x[0]=="D" or x[0]=="W":
      return "Defender"
    elif x[0]=="S":
      return "Forward"
    elif x[0]=="G":
      return "Goalkeeper"

In [141]:
df["position group"]=df["position"].apply(converter)

In [142]:
df["position group"]

0       Middlefielder
1             Forward
2             Forward
3             Forward
4       Middlefielder
            ...
8447         Defender
8448          Forward
8449         Defender
8450          Forward
8451          Forward
Name: position group, Length: 8452, dtype: object

In [143]:
pd.get_dummies(df["position group"])

      Defender  Forward  Goalkeeper  Middlefielder
0            0        0           0              1
1            0        1           0              0
2            0        1           0              0
3            0        1           0              0
4            0        0           0              1
...        ...      ...         ...            ...
8447         1        0           0              0
8448         0        1           0              0
8449         1        0           0              0
8450         0        1           0              0
8451         0        1           0              0

[8452 rows x 4 columns]

In [144]:
df=pd.concat([df,pd.get_dummies(df["position group"])],axis=1)

In [145]:
stirngColumns=df.select_dtypes(include="object").columns

In [146]:
stirngColumns

Index(['ï»¿Name', 'Position', 'Nationality', 'Club', 'Race', 'Date of birth',
       'Rental club', 'position', 'position group'],
      dtype='object')

In [147]:
#Now drop all the string columns.
df.drop(stringColumns,axis=1,inplace=True)

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 97 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Age                                  8452 non-null   int64
 1   ca                                   8452 non-null   int64
 2   pa                                   8452 non-null   int64
 3   Corners                              8452 non-null   int64
 4   Crossing                             8452 non-null   int64
 5   Dribbling                            8452 non-null   int64
 6   Finishing                            8452 non-null   int64
 7   First Touch                          8452 non-null   int64
 8   Free Kick Taking                     8452 non-null   int64
 9   Heading                              8452 non-null   int64
 10  Long Shots                           8452 non-null   int64
 11  Long Throws                          8452 non-null   int64
 12  Marking                              8452 non-null   int64
 13  Passing                              8452 non-null   int64
 14  Penalty Taking                       8452 non-null   int64
 15  Tackling                             8452 non-null   int64
 16  Technique                            8452 non-null   int64
 17  Aggressiion                          8452 non-null   int64
 18  Anticipation                         8452 non-null   int64
 19  Bravery                              8452 non-null   int64
 20  Composure                            8452 non-null   int64
 21  Concentration                        8452 non-null   int64
 22  Vision                               8452 non-null   int64
 23  Decision                             8452 non-null   int64
 24  Determination                        8452 non-null   int64
 25  Flair                                8452 non-null   int64
 26  Leadership                           8452 non-null   int64
 27  Off The Ball                         8452 non-null   int64
 28  Position.1                           8452 non-null   int64
 29  Teamwork                             8452 non-null   int64
 30  Work Rate                            8452 non-null   int64
 31  Acceleration                         8452 non-null   int64
 32  Agility                              8452 non-null   int64
 33  Balance                              8452 non-null   int64
 34  Jumping Reach                        8452 non-null   int64
 35  Natural Fitness                      8452 non-null   int64
 36  Pace                                 8452 non-null   int64
 37  Stamina                              8452 non-null   int64
 38  Strength                             8452 non-null   int64
 39  Stability                            8452 non-null   int64
 40  Foul                                 8452 non-null   int64
 41  Contest performance                  8452 non-null   int64
 42  Injury                               8452 non-null   int64
 43  diversity                            8452 non-null   int64
 44  Aerial Reach                         8452 non-null   int64
 45  Command Of Area                      8452 non-null   int64
 46  Communication                        8452 non-null   int64
 47  Eccentricity                         8452 non-null   int64
 48  Handling                             8452 non-null   int64
 49  Kicking                              8452 non-null   int64
 50  One On Ones                          8452 non-null   int64
 51  Reflexes                             8452 non-null   int64
 52  Rushing Out                          8452 non-null   int64
 53  Punching                             8452 non-null   int64
 54  Throwing                             8452 non-null   int64
 55  Adaptation                           8452 non-null   int64
 56  Ambition                             8452 non-null   int64
 57  Argue                                8452 non-null   int64
 58  Loyal                                8452 non-null   int64
 59  Resistant to stress                  8452 non-null   int64
 60  Professional                         8452 non-null   int64
 61  Sportsmanship                        8452 non-null   int64
 62  Emotional control                    8452 non-null   int64
 63  GK                                   8452 non-null   int64
 64  DL                                   8452 non-null   int64
 65  DC                                   8452 non-null   int64
 66  DR                                   8452 non-null   int64
 67  WBL                                  8452 non-null   int64
 68  WBR                                  8452 non-null   int64
 69  DM                                   8452 non-null   int64
 70  ML                                   8452 non-null   int64
 71  MC                                   8452 non-null   int64
 72  MR                                   8452 non-null   int64
 73  AML                                  8452 non-null   int64
 74  AMC                                  8452 non-null   int64
 75  AMR                                  8452 non-null   int64
 76  ST                                   8452 non-null   int64
 77  Height                               8452 non-null   int64
 78  Weight                               8452 non-null   int64
 79  Left Foot                            8452 non-null   int64
 80  Right Foot                           8452 non-null   int64
 81  Values                               8452 non-null   int64
 82  Current reputation                   8452 non-null   int64
 83  Domestic reputation                  8452 non-null   int64
 84  World reputation                     8452 non-null   int64
 85  RCA                                  8452 non-null   int64
 86  Colour of skin                       8452 non-null   int64
 87  Number of national team appearances  8452 non-null   int64
 88  Goals scored for the national team   8452 non-null   int64
 89  Salary                               8452 non-null   float64
 90  UID                                  8452 non-null   int64
 91  position                             8452 non-null   object
 92  position group                       8452 non-null   object
 93  Defender                             8452 non-null   uint8
 94  Forward                              8452 non-null   uint8
 95  Goalkeeper                           8452 non-null   uint8
 96  Middlefielder                        8452 non-null   uint8
dtypes: float64(1), int64(90), object(2), uint8(4)
memory usage: 6.0+ MB

In [149]:
df.drop(["position","position group"],axis=1,inplace=True)

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 95 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Age                                  8452 non-null   int64
 1   ca                                   8452 non-null   int64
 2   pa                                   8452 non-null   int64
 3   Corners                              8452 non-null   int64
 4   Crossing                             8452 non-null   int64
 5   Dribbling                            8452 non-null   int64
 6   Finishing                            8452 non-null   int64
 7   First Touch                          8452 non-null   int64
 8   Free Kick Taking                     8452 non-null   int64
 9   Heading                              8452 non-null   int64
 10  Long Shots                           8452 non-null   int64
 11  Long Throws                          8452 non-null   int64
 12  Marking                              8452 non-null   int64
 13  Passing                              8452 non-null   int64
 14  Penalty Taking                       8452 non-null   int64
 15  Tackling                             8452 non-null   int64
 16  Technique                            8452 non-null   int64
 17  Aggressiion                          8452 non-null   int64
 18  Anticipation                         8452 non-null   int64
 19  Bravery                              8452 non-null   int64
 20  Composure                            8452 non-null   int64
 21  Concentration                        8452 non-null   int64
 22  Vision                               8452 non-null   int64
 23  Decision                             8452 non-null   int64
 24  Determination                        8452 non-null   int64
 25  Flair                                8452 non-null   int64
 26  Leadership                           8452 non-null   int64
 27  Off The Ball                         8452 non-null   int64
 28  Position.1                           8452 non-null   int64
 29  Teamwork                             8452 non-null   int64
 30  Work Rate                            8452 non-null   int64
 31  Acceleration                         8452 non-null   int64
 32  Agility                              8452 non-null   int64
 33  Balance                              8452 non-null   int64
 34  Jumping Reach                        8452 non-null   int64
 35  Natural Fitness                      8452 non-null   int64
 36  Pace                                 8452 non-null   int64
 37  Stamina                              8452 non-null   int64
 38  Strength                             8452 non-null   int64
 39  Stability                            8452 non-null   int64
 40  Foul                                 8452 non-null   int64
 41  Contest performance                  8452 non-null   int64
 42  Injury                               8452 non-null   int64
 43  diversity                            8452 non-null   int64
 44  Aerial Reach                         8452 non-null   int64
 45  Command Of Area                      8452 non-null   int64
 46  Communication                        8452 non-null   int64
 47  Eccentricity                         8452 non-null   int64
 48  Handling                             8452 non-null   int64
 49  Kicking                              8452 non-null   int64
 50  One On Ones                          8452 non-null   int64
 51  Reflexes                             8452 non-null   int64
 52  Rushing Out                          8452 non-null   int64
 53  Punching                             8452 non-null   int64
 54  Throwing                             8452 non-null   int64
 55  Adaptation                           8452 non-null   int64
 56  Ambition                             8452 non-null   int64
 57  Argue                                8452 non-null   int64
 58  Loyal                                8452 non-null   int64
 59  Resistant to stress                  8452 non-null   int64
 60  Professional                         8452 non-null   int64
 61  Sportsmanship                        8452 non-null   int64
 62  Emotional control                    8452 non-null   int64
 63  GK                                   8452 non-null   int64
 64  DL                                   8452 non-null   int64
 65  DC                                   8452 non-null   int64
 66  DR                                   8452 non-null   int64
 67  WBL                                  8452 non-null   int64
 68  WBR                                  8452 non-null   int64
 69  DM                                   8452 non-null   int64
 70  ML                                   8452 non-null   int64
 71  MC                                   8452 non-null   int64
 72  MR                                   8452 non-null   int64
 73  AML                                  8452 non-null   int64
 74  AMC                                  8452 non-null   int64
 75  AMR                                  8452 non-null   int64
 76  ST                                   8452 non-null   int64
 77  Height                               8452 non-null   int64
 78  Weight                               8452 non-null   int64
 79  Left Foot                            8452 non-null   int64
 80  Right Foot                           8452 non-null   int64
 81  Values                               8452 non-null   int64
 82  Current reputation                   8452 non-null   int64
 83  Domestic reputation                  8452 non-null   int64
 84  World reputation                     8452 non-null   int64
 85  RCA                                  8452 non-null   int64
 86  Colour of skin                       8452 non-null   int64
 87  Number of national team appearances  8452 non-null   int64
 88  Goals scored for the national team   8452 non-null   int64
 89  Salary                               8452 non-null   float64
 90  UID                                  8452 non-null   int64
 91  Defender                             8452 non-null   uint8
 92  Forward                              8452 non-null   uint8
 93  Goalkeeper                           8452 non-null   uint8
 94  Middlefielder                        8452 non-null   uint8
dtypes: float64(1), int64(90), uint8(4)
memory usage: 5.9 MB

In [151]:
y=df[["Defender","Forward","Goalkeeper","Middlefielder"]]

In [152]:
X=df.drop(y.columns,axis=1)

In [153]:
from sklearn.model_selection import train_test_split

In [154]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [155]:
from sklearn.preprocessing import StandardScaler

In [156]:
scaler=StandardScaler()

In [157]:
x_train_norm=scaler.fit_transform(X_train)
x_test_norm=scaler.transform(X_test)

In [158]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_shape=(91,)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(4, activation='softmax')  # 4 sınıfı temsil eder
])

# Modeli derleme ve özeti gösterme
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
model.fit(x_train_norm,y_train,epochs=50,verbose=1)

Epoch 1/50
177/177 [==============================] - 1s 2ms/step - loss: 0.2651 - accuracy: 0.8976
Epoch 2/50
177/177 [==============================] - 0s 2ms/step - loss: 0.1058 - accuracy: 0.9583
Epoch 3/50
177/177 [==============================] - 0s 2ms/step - loss: 0.0740 - accuracy: 0.9702
Epoch 4/50
177/177 [==============================] - 1s 3ms/step - loss: 0.0561 - accuracy: 0.9772
Epoch 5/50
177/177 [==============================] - 0s 3ms/step - loss: 0.0412 - accuracy: 0.9845
Epoch 6/50
177/177 [==============================] - 0s 3ms/step - loss: 0.0287 - accuracy: 0.9915
Epoch 7/50
177/177 [==============================] - 0s 3ms/step - loss: 0.0211 - accuracy: 0.9949
Epoch 8/50
177/177 [==============================] - 0s 3ms/step - loss: 0.0143 - accuracy: 0.9975
Epoch 9/50
177/177 [==============================] - 0s 2ms/step - loss: 0.0086 - accuracy: 0.9989
Epoch 10/50
177/177 [==============================] - 0s 3ms/step - loss: 0.0079 - accuracy: 0.9981
Epoch 11/50
177/177 [==============================] - 0s 2ms/step - loss: 0.0257 - accuracy: 0.9945
Epoch 12/50
177/177 [==============================] - 0s 2ms/step - loss: 0.0098 - accuracy: 0.9974
Epoch 13/50
177/177 [==============================] - 0s 2ms/step - loss: 0.0038 - accuracy: 0.9996
Epoch 14/50
177/177 [==============================] - 0s 2ms/step - loss: 0.0018 - accuracy: 1.0000
Epoch 15/50
177/177 [==============================] - 1s 4ms/step - loss: 0.0011 - accuracy: 1.0000
Epoch 16/50
177/177 [==============================] - 1s 3ms/step - loss: 8.1809e-04 - accuracy: 1.0000
Epoch 17/50
177/177 [==============================] - 1s 4ms/step - loss: 6.5209e-04 - accuracy: 1.0000
Epoch 18/50
177/177 [==============================] - 0s 2ms/step - loss: 5.4040e-04 - accuracy: 1.0000
Epoch 19/50
177/177 [==============================] - 0s 2ms/step - loss: 4.4288e-04 - accuracy: 1.0000
Epoch 20/50
177/177 [==============================] - 0s 2ms/step - loss: 3.7361e-04 - accuracy: 1.0000
Epoch 21/50
177/177 [==============================] - 0s 2ms/step - loss: 3.1555e-04 - accuracy: 1.0000
Epoch 22/50
177/177 [==============================] - 0s 2ms/step - loss: 2.7256e-04 - accuracy: 1.0000
Epoch 23/50
177/177 [==============================] - 0s 2ms/step - loss: 2.3408e-04 - accuracy: 1.0000
Epoch 24/50
177/177 [==============================] - 0s 2ms/step - loss: 2.0158e-04 - accuracy: 1.0000
Epoch 25/50
177/177 [==============================] - 0s 2ms/step - loss: 1.7506e-04 - accuracy: 1.0000
Epoch 26/50
177/177 [==============================] - 0s 2ms/step - loss: 1.5547e-04 - accuracy: 1.0000
Epoch 27/50
177/177 [==============================] - 0s 2ms/step - loss: 1.3422e-04 - accuracy: 1.0000
Epoch 28/50
177/177 [==============================] - 0s 2ms/step - loss: 1.1752e-04 - accuracy: 1.0000
Epoch 29/50
177/177 [==============================] - 0s 2ms/step - loss: 1.0440e-04 - accuracy: 1.0000
Epoch 30/50
177/177 [==============================] - 0s 2ms/step - loss: 9.2026e-05 - accuracy: 1.0000
Epoch 31/50
177/177 [==============================] - 0s 2ms/step - loss: 8.1687e-05 - accuracy: 1.0000
Epoch 32/50
177/177 [==============================] - 0s 2ms/step - loss: 7.1445e-05 - accuracy: 1.0000
Epoch 33/50
177/177 [==============================] - 0s 2ms/step - loss: 6.3635e-05 - accuracy: 1.0000
Epoch 34/50
177/177 [==============================] - 0s 2ms/step - loss: 5.6200e-05 - accuracy: 1.0000
Epoch 35/50
177/177 [==============================] - 0s 2ms/step - loss: 5.0065e-05 - accuracy: 1.0000
Epoch 36/50
177/177 [==============================] - 0s 2ms/step - loss: 4.4138e-05 - accuracy: 1.0000
Epoch 37/50
177/177 [==============================] - 0s 2ms/step - loss: 3.9020e-05 - accuracy: 1.0000
Epoch 38/50
177/177 [==============================] - 0s 3ms/step - loss: 3.4919e-05 - accuracy: 1.0000
Epoch 39/50
177/177 [==============================] - 0s 2ms/step - loss: 3.1629e-05 - accuracy: 1.0000
Epoch 40/50
177/177 [==============================] - 0s 3ms/step - loss: 2.7803e-05 - accuracy: 1.0000
Epoch 41/50
177/177 [==============================] - 0s 3ms/step - loss: 2.4882e-05 - accuracy: 1.0000
Epoch 42/50
177/177 [==============================] - 0s 3ms/step - loss: 2.2345e-05 - accuracy: 1.0000
Epoch 43/50
177/177 [==============================] - 0s 3ms/step - loss: 1.9844e-05 - accuracy: 1.0000
Epoch 44/50
177/177 [==============================] - 0s 3ms/step - loss: 1.7781e-05 - accuracy: 1.0000
Epoch 45/50
177/177 [==============================] - 0s 3ms/step - loss: 1.5919e-05 - accuracy: 1.0000
Epoch 46/50
177/177 [==============================] - 0s 2ms/step - loss: 1.4136e-05 - accuracy: 1.0000
Epoch 47/50
177/177 [==============================] - 0s 3ms/step - loss: 1.2869e-05 - accuracy: 1.0000
Epoch 48/50
177/177 [==============================] - 0s 3ms/step - loss: 1.1396e-05 - accuracy: 1.0000
Epoch 49/50
177/177 [==============================] - 0s 3ms/step - loss: 1.0356e-05 - accuracy: 1.0000
Epoch 50/50
177/177 [==============================] - 0s 2ms/step - loss: 9.1272e-06 - accuracy: 1.0000

In [159]:
model.evaluate(x_test_norm,y_test)

88/88 [==============================] - 0s 3ms/step - loss: 0.1907 - accuracy: 0.9670

[0.1906987726688385, 0.967025101184845]